# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test results
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/ 

# Go workspace build outputs
bin/
pkg/

# Package directory contains cached intermediate files
*.a